* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(party1.jpg);
  background-size: cover;
  position: relative;
}

.registration {
  overflow: hidden;
  width: 70vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  border-radius: 30px;
  box-shadow: 0 0 40px 10px rgb(77, 16, 77);
  display: grid;
  grid-template-areas: "img panel";
}
.registration-img {
  background-image: url(party.jpg);
  background-size: cover;
}
.registration-panel {
  background: linear-gradient(to right, rgb(187, 8, 92), rgb(145, 14, 252));
}
.registration-panel-text {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.registration-panel-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.registration-panel-form-text1 {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 20px;
  margin: 0;
}
.registration-panel-form-text1-error {
  font-family: sans-serif;
  color: #1a1a1a;
  top: 49vh;
  width: 400px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgb(223, 39, 39);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.registration-panel-form-name {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 25px;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}
.registration-panel-form-surname {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 25px;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}
.registration-panel-form-login {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 25px;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}
.registration-panel-form-password1 {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 25px;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}
.registration-panel-form-password2 {
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 25px;
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
}
.registration-panel-form-password2-error {
  font-family: sans-serif;
  color: #1a1a1a;
  top: 49vh;
  width: 400px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: rgb(223, 39, 39);
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.registration-panel-form .log-in {
  display: grid;
  grid-template-columns: 1fr;
}
.registration-panel-form .log-in .submit {
  font-family: sans-serif;
  color: #1a1a1a;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  background-color: rgb(252, 75, 75);
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}
.registration-panel-form .log-in .submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(252, 75, 75);
}
.registration-panel-form .log-in .sing-in {
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 30px;
  background-color: rgb(252, 75, 75);
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
}
.registration-panel-form .log-in .sing-in:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(252, 75, 75);
}
.registration-panel-form .viewing-mode {
  font-family: sans-serif;
  color: #1a1a1a;
  color: #e0e0e0;
  text-decoration: none;
  text-align: center;
  background-color: rgb(252, 75, 75);
  width: 300px;
  height: 100px;
  border-radius: 10px;
  transition: 0.5s;
}
.registration-panel-form .viewing-mode:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(252, 75, 75);
}/*# sourceMappingURL=RegistrationPageStyle.css.map */